html {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

img {
  padding: 1%;
}

a {
  text-decoration: none;
  color: #241e1e;
  font-size: 1.2rem;
  display:flex;
  justify-content: center;

}

a:hover {
  cursor: pointer;
}

.filter {
  width: 10%;
  margin:1%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
